@using Microsoft.Extensions.Localization
@inject IStringLocalizerFactory LocalizerFactory;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@LocalizerFactory.Create(null)["hello"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
